body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.submit-button {
  border: 0;
  outline: none;
}

.label {
  background: white;
  padding: 5px;
  margin: 3px;
  font-size: 0.8em;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input + label, .submit-button {
  text-transform: uppercase;
  padding: 8px;
  font-size: 0.7em;
  font-weight: 700;
  color: white;
  background-color: #553333;
  display: inline-block;
}

.file-input:focus + label,
.file-input + label:hover,
.submit-button:focus,
.submit-button:hover {
  background-color: #775555;
}

.file-input + label {
  cursor: pointer;
}

.container {
  margin: 10px;
}

#status {
  padding: 5px;
  background: #ededed;
}

#labels-container {
  padding: 0;
}

#labels-container li {
  list-style: none;
  padding: 5px;
  background: #ededed;
  display: inline-block;
  margin: 2px;
}

#content > div {
  margin-top: 10px;
}
